name: Deploy CI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Java 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build App Bundle
        run: ./gradlew assembleDebug
      - uses: actions/upload-artifact@v2
        with:
          name: outputs
          path: app/build/outputs/